<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocean.springclouid.druidmybatismultiple.cmdb.mapper.VcenterResourceUsageMapper">
    <resultMap id="BaseResultMap" type="com.ocean.springclouid.druidmybatismultiple.cmdb.entity.VcenterResourceUsage">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="cpu" jdbcType="DOUBLE" property="cpu"/>
        <result column="momery" jdbcType="DOUBLE" property="momery"/>
        <result column="storage" jdbcType="DOUBLE" property="storage"/>
        <result column="time" jdbcType="BIGINT" property="time"/>
        <result column="vcenter" jdbcType="VARCHAR" property="vcenter"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, cpu, momery, storage, time, vcenter
    </sql>
    <select id="selectByExample"
            parameterType="com.ocean.springclouid.druidmybatismultiple.cmdb.entity.VcenterResourceUsageCriteria"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from vcenter_resource_usage
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vcenter_resource_usage
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from vcenter_resource_usage
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample"
            parameterType="com.ocean.springclouid.druidmybatismultiple.cmdb.entity.VcenterResourceUsageCriteria">
        delete from vcenter_resource_usage
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ocean.springclouid.druidmybatismultiple.cmdb.entity.VcenterResourceUsage">
        insert into vcenter_resource_usage (id, cpu, momery,
        storage, time, vcenter
        )
        values (#{id,jdbcType=INTEGER}, #{cpu,jdbcType=DOUBLE}, #{momery,jdbcType=DOUBLE},
        #{storage,jdbcType=DOUBLE}, #{time,jdbcType=BIGINT}, #{vcenter,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective"
            parameterType="com.ocean.springclouid.druidmybatismultiple.cmdb.entity.VcenterResourceUsage">
        insert into vcenter_resource_usage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cpu != null">
                cpu,
            </if>
            <if test="momery != null">
                momery,
            </if>
            <if test="storage != null">
                storage,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="vcenter != null">
                vcenter,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cpu != null">
                #{cpu,jdbcType=DOUBLE},
            </if>
            <if test="momery != null">
                #{momery,jdbcType=DOUBLE},
            </if>
            <if test="storage != null">
                #{storage,jdbcType=DOUBLE},
            </if>
            <if test="time != null">
                #{time,jdbcType=BIGINT},
            </if>
            <if test="vcenter != null">
                #{vcenter,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample"
            parameterType="com.ocean.springclouid.druidmybatismultiple.cmdb.entity.VcenterResourceUsageCriteria"
            resultType="java.lang.Long">
        select count(*) from vcenter_resource_usage
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update vcenter_resource_usage
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.cpu != null">
                cpu = #{record.cpu,jdbcType=DOUBLE},
            </if>
            <if test="record.momery != null">
                momery = #{record.momery,jdbcType=DOUBLE},
            </if>
            <if test="record.storage != null">
                storage = #{record.storage,jdbcType=DOUBLE},
            </if>
            <if test="record.time != null">
                time = #{record.time,jdbcType=BIGINT},
            </if>
            <if test="record.vcenter != null">
                vcenter = #{record.vcenter,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update vcenter_resource_usage
        set id = #{record.id,jdbcType=INTEGER},
        cpu = #{record.cpu,jdbcType=DOUBLE},
        momery = #{record.momery,jdbcType=DOUBLE},
        storage = #{record.storage,jdbcType=DOUBLE},
        time = #{record.time,jdbcType=BIGINT},
        vcenter = #{record.vcenter,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.ocean.springclouid.druidmybatismultiple.cmdb.entity.VcenterResourceUsage">
        update vcenter_resource_usage
        <set>
            <if test="cpu != null">
                cpu = #{cpu,jdbcType=DOUBLE},
            </if>
            <if test="momery != null">
                momery = #{momery,jdbcType=DOUBLE},
            </if>
            <if test="storage != null">
                storage = #{storage,jdbcType=DOUBLE},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=BIGINT},
            </if>
            <if test="vcenter != null">
                vcenter = #{vcenter,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.ocean.springclouid.druidmybatismultiple.cmdb.entity.VcenterResourceUsage">
        update vcenter_resource_usage
        set cpu = #{cpu,jdbcType=DOUBLE},
        momery = #{momery,jdbcType=DOUBLE},
        storage = #{storage,jdbcType=DOUBLE},
        time = #{time,jdbcType=BIGINT},
        vcenter = #{vcenter,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>